@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import 'carousel.css';

:root {
    --main-text-light-color: #98968a;
    --main-text-very-light-color: #d4d1c3;
    --border-color: #372d25;
    --background: #100d0d;
    --background-2: #ffffff14;
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-dark: rgba(0, 0, 0, 0.7);

    --hotbarvis: visible;
    --hotbarypos: -5px;
    --hotbarxpos: 400px;
    --hotbarlh1: 24px;
    --hotbarlh2: 8px;
    --hotbarhv: -5px;
    --hotbarmg: 0px;
    --hotbarhh: 100%;
    --hotbarshp: 0px;

    --playervis: hidden;
    --playerfsize: 0px;
    --playerfsizehv: 12px;
    --playerwidthhv: 150px;
    --playerslh: 20px;
    --playerbennies: none;
    --playerh3w: unset;
    --playerbot: -8px;
    --playerleft: -8px;
    --playerpingdisplay: initial;
}

/*************************************************************/
/*============ Background/Pause img / Logo ==================*/
/*************************************************************/
  
body {
    background-image: url(../dndui-background.webp);
    background-size: cover;
}

#pause img[src*="icons/svg/clockwork.svg"]{
	box-sizing: border-box;
	width: 128px;
	height: 128px;
	padding-left: 128px;
	
	background-image: url("../ui/other/paused-pfrpg.webp");
	animation: rotation 20s infinite linear;	
}

/*************************************************************/
/*======================= SIDEBAR ===========================*/
/*************************************************************/

/*Fix v11*/
#interface {
    overflow: clip;
}
/*end*/

#sidebar {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    right: 0px;
    top: 5px;
    width: 305px !important;
    height: 99vh;
    overflow: hidden;
    margin: 0;
    border: 5px solid transparent;
    border-image-source: url(../ui/frames/Chat-box.webp);
    border-image-slice: 30 fill;
    background-position: center !important;
    background-size: 300px 100%!important;
    background-repeat: no-repeat;
}

.collapse::before{
    content: "";
}

#sidebar.collapsed {
    width: 36px !important;
    height: 370px !important;
    border-image-source: url(../ui/frames/Chat-box.webp);
    border-image-slice: 30 fill;
    background-position: center !important;
    background-size: 100% 100%!important;
    background-repeat: no-repeat;
    padding: 1rem 0px 0px 0px;
    display: list-item;
    top: 1rem;
}

@supports (-moz-appearance:none) {
    #sidebar.collapsed {
        display: inline-table !important;
        padding: 1.5rem 0px 0px 0px;
    }
}

#sidebar-tabs{
    text-align: center;
}

#sidebar #sidebar-tabs > .item {
    margin: 0px 0px 5px 0;
    line-height: 0px;
}

#sidebar.collapsed #sidebar-tabs > .item.active {
    margin: 0px 0px 5px 0;
}

#sidebar #sidebar-tabs i.fa-comments {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-chat.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar-tabs {
    height: 32px;
}
#sidebar-tabs > .item {
    line-height: 0px;
    flex: 0 0 var(--sidebar-tab-width);
    height: 25px;
    border-radius: 100%;
}
#sidebar-tabs > .item.active {
    color: #FFF;
    border: 1px solid red;
    box-shadow: 0 0 6px inset #ff6400;
}
#sidebar #sidebar-tabs i.fa-comments::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-swords {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-combat.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-swords::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-map {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-scenes.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-map::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-user {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-actors.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-user::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-suitcase {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-items.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-suitcase::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-book-open {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-journal.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-book-open::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-th-list {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-tables.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-th-list::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-music {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-playlists.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-music::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-atlas {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-compendium.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-atlas::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-cogs {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-settings.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-cogs::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-cards {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-cards.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-cards::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-code {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-macros.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-code::before {
    content: "";
}

/*************************************************************/
/*======================= CHAT TAB ==========================*/
/*************************************************************/
.message-sender {
    color: darkred;
    font-weight: bold;
    border-bottom-color: darkred;
    text-decoration: underline;
}
#chat-message{
    background-image: url(../ui/frames/chat-texture.webp) !important;
}

.polyglot-lang-select{
    color: darkgoldenrod !important;
}
.polyglot-lang-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 10px;
    padding-top: 0px;
    background: url(../ui/frames/chat-texture.webp) repeat !important;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(../ui/frames/chat-controls-border.webp) 4 repeat;
    border-image-width: 4px;
    color: #520000;
    margin-top: -10px;
}
.roll-type-select{
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 1px;
    padding-top: 0px;
    background: url(../ui/frames/chat-texture.webp) repeat !important;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(../ui/frames/chat-controls-border.webp) 4 repeat;
    border-image-width: 4px;
    color: #520000;
}

#sidebar .sidebar-tab #chat-controls div.roll-type-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: url(../ui/frames/chat-texture.webp) repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(../ui/frames/chat-controls-border.webp) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
}

/*************************************************************/
/*====================== COMBAT TAB =========================*/
/*************************************************************/
#combat-controls .combat-control{
    background-image: url(../ui/buttons/button-red.webp);
    text-align: center;
    background-position: center !important;
    background-size: 260px 100%!important;
    background-repeat: no-repeat;
}

/*************************************************************/
/*================= SIDEBAR FOLDER & WIDGETS ================*/
/*************************************************************/
.sidebar-tab .directory-header .header-search {
    align-items: baseline;
}

.sidebar-tab .directory-header .header-search input {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: url(../ui/frames/chat-texture.webp) repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(../ui/frames/chat-controls-border.webp) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
}

.sidebar-tab .directory-header button {
    background-image: url(../ui/buttons/button-green.webp);
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    min-height: 32px;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black ;
}

.sidebar-tab .directory-footer button{
    background-image: url(../ui/buttons/button-green.webp);
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    min-height: 32px;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black ;
}

/*************************************************************/
/*=============== SIDEBAR FOLDERs AS BUTTONS ================*/
/*************************************************************/
.sidebar-tab .folder .folder-header {
    background-image: url(../ui/buttons/button-grey-light.webp)  !important;
    text-align: left !important;
    background-position: center !important;
    background-size: 100% 55px!important;
    background-repeat: no-repeat !important;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    padding-left: 25px;
}

.sidebar-tab .directory-list .directory.item h3 {
    text-align: left !important;
    padding-left: 25px;
}

#sidebar section.sidebar-directory ol.directory-list li.directory-item.folder header {
    align-items: baseline;
    text-align: left !important;
    padding-left: 25px;
}
.subdirectory .folder {
    border-left: 2px solid #585858 !important;
}

/*************************************************************/
/*================== COMPENDIUM HEADERS =====================*/
/*************************************************************/
/* scene thumb size */
#scenes .scene h3 {
    line-height: 43px;
    text-shadow: 2px 1px 2px #000;
}
#scenes .scene {
    height: 48px;
}
/* #endregion */

#settings button {
    background-image: url(../ui/buttons/button-blue.webp);
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: 100%;
    border: 1px solid black;
    color: whitesmoke;
    font-size: 14px;
 }

/* #region Remove speaker name background colors in Chat window */
#chat-log .message .message-header .message-sender {
    background-color: rgba(0,0,0,0) !important;
}
/* #endregion */

/* #region Fix so as not to bigfoot on VTTA's tag system */
#sidebar section > ol.directory-list > li header > span.vtta-folder-label {
    text-shadow: 0px 0px 0px black !important;
}
/* #endregion */

/* #region Chat log */
/* differentiate public roll from private or blind.
 Private uses class whisper, blind uses class blind AND whisper, Self Roll
 uses class whisper (identical to Private Roll for CSS) */
#chat-log .message.whisper {
    font-style: italic;
}

#chat-log .message.whisper .message-header .message-metadata::before{
    color: #585858;
    content: " (Private Roll) ";
    float: left;
}


#chat-log .message.blind .message-header .message-metadata::before{
    color: #585858;
    content: " (Blind Roll) " !important;
    float: left;
}

/*************************************************************/
/*================== NAVIGATION BAR =========================*/
/*************************************************************/
#ui-top {
    width: calc(100% - 340px);
    }

#navigation #nav-toggle {
    background: none;
    border: none;
}

#navigation .nav-item {
    margin: 0 14px 8px 0;
}

#navigation #scene-list.vertical .scene.nav-item {
    float: none;
    width: fit-content;
    display: table;
}

#navigation #scene-list .scene.nav-item {
    float: left;
    border: none;
    background: none;
    min-width: 80px;
    text-align: center;
}

#nav-toggle {
    width: 36px;
    height: 36px;
    color: var(--main-text-light-color);
}

#nav-toggle::after {
    position: absolute;
    content: " ";
    width: 50px;
    height: 50px;
    left: -8px;
    top: -9px;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -2;
    opacity: 0.88;
}


#navigation #scene-list .scene.nav-item {
    position: relative;
    color: var(--main-text-light-color);
    font-weight: 600;
}

#navigation #scene-list .scene.nav-item::before {
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    top: -15%;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
    opacity: 0.88;
}
#navigation #scene-list .scene.gm {
    background: url(../ui/buttons/controls_btn_accent.webp);
    background-size: 100% 100%;
    border: none;
}
#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    box-shadow: none;
}




  /*************************************************************/
  /*=================== SCENE CONTROLS ========================*/
  /*************************************************************/

#controls ol .scene-control,
#controls ol .control-tool {
    background: none;
    box-shadow: none;
    border: none;
    color: #837360;
}

#controls ol .scene-control.active,
#controls ol .control-tool.active,
#controls ol .scene-control:hover,
#controls ol .control-tool:hover {
    border: none;
    box-shadow: none;
}

#controls ol .scene-control.active:before,
#controls ol .control-tool.active:before,
#controls ol .scene-control:hover:before,
#controls ol .control-tool:hover:before {
    background: url(../ui/buttons/controls_btn_accent.webp);
    background-size: 100% 100%;
    cursor: default;
}

#controls ol > li {
    position: relative;
}

#controls ol > li.scene-control:before,
#controls ol > li.control-tool:before
{
    position: absolute;
    left: -9%;
    top: -15%;

    content: " ";
    width: 130%;
    height: 130%;

    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -2;
    opacity: 0.88;
    cursor: pointer !important; 
    cursor: default !important;
}

/* Minimal UI */
/* https://github.com/saif-ellafi/foundryvtt-minimal-ui/issues */
.minimal-ui-mode #controls ol li.scene-control[data-control="combat-carousel"] {
    width: var(--controlsw)!important;
    height: var(--controlsh)!important;
}
.minimal-ui-mode #controls li[data-control="combat-carousel"]::after {
    width: calc(var(--controlsw) - 10px)!important;
    height: calc(var(--controlsh) - 10px)!important;
}

.minimal-ui-mode #ui-bottom > div {
    justify-content: inherit!important;
}

.minimal-ui-mode #hotbar {
    left: var(--hotbarxpos);
    bottom: var(--hotbarypos);
    visibility: var(--hotbarvis);
    transition: 0.5s ease-out 0.5s;
    opacity: var(--opacity);
    position: absolute;
}

.minimal-ui-mode #players {
    bottom: var(--playerbot);
    left: var(--playerleft);
    font-size: var(--playerfsize);
    visibility: var(--playervis);
    opacity: var(--opacity);
    box-shadow: none;
    position: absolute;
    border: 1px solid var(--glassy);
    background: var(--glassy);
}

.minimal-ui-mode #players:hover {
    bottom: var(--playerbot);
    left: var(--playerleft);
    font-size: var(--playerfsize);
    visibility: var(--playervis);
    opacity: var(--opacity);
    box-shadow: 0 var(--hotbarshp) var(--shadowstrength) 2px var(--shadowcolor);
    position: absolute;
    border: 1px solid var(--bordercolor);
    background: black;
    border-image: url(../ui/frames/players-border.webp) 21 repeat;
    border-image-slice: 23 19 23 19;
    border-image-width: 23px 19px 23px 19px;
    border-image-outset: 22px 17px 16px 14px;
}

.minimal-ui-mode #navigation #scene-list {
    margin-left: 16px;
}
.minimal-ui-mode #controls ol.main-controls {
    width: 60px;
}


/* DF Chat Enhancements */
/* https://github.com/flamewave000/dragonflagon-fvtt/tree/master/df-chat-enhance */
#dfcp-rt-buttons button {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    background: var(--glassy);
    border: none;
    border-radius: 50%;
    color: #cfbda7;
    box-shadow: var(--glassy);
    cursor: pointer;
}

#dfcp-rt-buttons button:hover {
    color: #ff6400;
    border-color: #ff6400;
    box-shadow: 0 0 6px inset #ff6400;
}

#dfcp-rt-buttons button[data-id=publicroll].active {
    background-color: #91a82a;
}

#dfcp-rt-buttons button[data-id=selfroll].active {
    background-color: #ff6400;
}

 /*************************************************************/
/*=================== PLAYERS LIST ==========================*/
/*************************************************************/
#players {
    background: black;
    border-image: url(../ui/frames/players-border.webp) 21 repeat;
    border-image-slice: 23 19 23 19;
    border-image-width: 23px 19px 23px 19px;
    border-image-outset: 22px 17px 16px 14px;
    box-shadow: none;
    bottom: 25px;
    left: 25px;
}

#players h3 .players-mode {
    position: relative;
    float: right;
    top: 10px;
    right: -12px;
}

#players h3 .players-mode::after {
    position: absolute;
    content: " ";
    width: 34px;
    height: 32px;
    top: -7px;
    z-index: -1;
    opacity: 0.6;
    left: -11px;
}

#players h3 {
    position: relative;
    color: #e9e9da;
    border-bottom: none;
    font-family: 'Kurale', serif;
    font-weight: 800;
    
    text-shadow: 2px 0 0 var(--border-color),
                -2px 0 0 var(--border-color),
                0 2px 0 var(--border-color),
                0 -2px 0 var(--border-color),
                1px 1px var(--border-color),
                -1px -1px 0 var(--border-color),
                1px -1px 0 var(--border-color),
                -1px 1px 0 var(--border-color);
}

#players h3::before {
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    top: -15%;
    z-index: -1;
    left: -10%;
}

#players ol {
    position: relative;
    font-family: 'Kurale', serif;
    font-weight: 400;
}

#players ol::before{
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    z-index: -1;
    left: -10%;
}

#players ol li.player {
    text-shadow: 2px 0 0 var(--border-color),
    -2px 0 0 var(--border-color),
    0 2px 0 var(--border-color),
    0 -2px 0 var(--border-color),
    1px 1px var(--border-color),
    -1px -1px 0 var(--border-color),
    1px -1px 0 var(--border-color),
    -1px 1px 0 var(--border-color);
}

/*************************************************************/
/*========================= HOTBAR ==========================*/
/*************************************************************/

#ui-bottom > div {
    justify-content: left;
}
 
#hotbar {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    width: 600px;
    height: 59px;
    margin-bottom: 5px;
    margin-left: 5px;
  }    

  #hotbar #action-bar {
    flex: 1;
    height: 100%;
    justify-content: space-evenly;
  }
  #hotbar #action-bar #macro-list {
    flex: 0 0 510px;
    height: 100%;
    list-style: none;
    margin: 0 0px;
    padding: 5px 0px 4px 0px;
    border: none;
    border-radius: 4px;
    justify-content: center;
    background: url(../ui/frames/hotkeybox-macro-list.webp);
    box-shadow: 2px 2px 5px #000000;
  }
    #hotbar #action-bar .macro {
      border-image: url(../ui/frames/hotkeybox.webp) 21 repeat;
      border-image-slice: 6 6 6 6 fill;
      border-image-width: 6px 6px 6px 6px;
      border-image-outset: 0px 0px 0px 0px;
      border-radius: 0px;
    }   
      #hotbar .macro .macro-key {
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 3px 3px;
        text-shadow: 1px 1px 1px black;
        color: #f0f0e0;
        font-weight: normal;
        background: #000000e0;
        max-height: 19px;
        border-radius: 6px;
        box-shadow: 0px 0px 5px black;
      }
  #hotbar .bar-controls {
    background: #000000de;
    box-shadow: 0 0 4px black;
    border-radius: 16px;
    border: 2px solid #540e0ec2;
  }
    #hotbar .bar-controls span.page-number {
      display: block;
      font-size: 20px;
      line-height: 8px;
      position: relative;
      top: 4px;
    }

 #fps {
        position: absolute;
        right: 300px;
        order: 2;
        border: 0px solid var(--color-border-light-tertiary);
        border-radius: 5px;
    }
