<li style="line-height: 16px;">
    DnD5e Ui

    <a title='Donate' href='https://ko-fi.com/sasmira'>
        <img src='https://storage.ko-fi.com/cdn/cup-border.png'
            style="border: none; height: 12px; margin-bottom: -1px;">
    </a>

    <span style="font-size: 11px;">
        <a href='https://gitlab.com/sasmira/dnd-ui/-/issues'>
            Report issue
        </a>
    </span>
</li>